@import "reset";
body{
  font-family: 'Montserrat', sans-serif;;
  background-color: #e7ebed;

  .position{
    padding-top:2rem;
    margin:auto;
    width:70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    header{
      padding:0 1rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      h3{
        font-size: 24px;
        font-weight: bold;
      }

      .add-item{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        p{
          padding-right: 1rem;
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }





  }
}