$primary-shadow: -3px 3px 5px 3px rgba(0, 0, 0, 0.05);
$secondary: #9c3e9b;
$black07:rgba(0,0,0,0.7);


@import "reset";
body {
   font-family: 'Montserrat', sans-serif;;
   background-color: #e7ebed;
   color: $black07;

   button {
      display: inline-block;
      border: none;
      background-color: transparent;
      outline: none;
      font-family: 'Montserrat', sans-serif;
   }

   input {
      display: block;
      border-radius: 3px;
      border: none;
   }

   input[type="color"] {
      -webkit-appearance: none;
      width: 1rem;
      height: 1rem;
      border-radius: 0.5rem;
      background-color: transparent;

   }

      input[type="color"]::-webkit-color-swatch-wrapper {
         padding: 0;

      }

      input[type="color"]::-webkit-color-swatch {
         border-radius: 0.5rem;
         border:none;

      }

      .wrapper {
         padding-top: 2rem;
         margin: auto;
         width: 70%;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;

         //Header section

         .header {
            padding: 0 1rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .header_bookmarks {
               font-size: 24px;
               font-weight: bold;
            }

            .button_add-item {
               display: flex;
               flex-direction: row;
               justify-content: center;
               align-items: center;
               color: $black07;

               .button_add-item-content {
                  padding-right: 1rem;
                  font-size: 1rem;
                  font-weight: bold;
               }
            }
         }


         //Add item form

         .form_add-item {
            -webkit-box-shadow: $primary-shadow;
            -moz-box-shadow: $primary-shadow;
            box-shadow: $primary-shadow;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            border-radius: 5px;

            .form_add-item-name {
               padding-bottom: 1rem;

               .form_add-item-name-label {
                  padding-bottom: 1rem;
               }
            }

            .form_add-item-url {
               padding-bottom: 1rem;
            }

            .form_add-item-color {
               padding-bottom: 1rem;
            }

            .form_add-item-to-collection {
            }
         }


         //Bookmarks

         .bookmark-container {
            margin-top: 4rem;
            padding: 1rem 2rem;
            width: 100%;
            box-shadow: $primary-shadow;
            -webkit-box-shadow: $primary-shadow;
            -moz-box-shadow: $primary-shadow;
            border-radius: 0.3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .name-container {
               display: flex;
               flex-direction: row;
               justify-content: flex-start;
               align-items: center;

               .color {
                  margin-right: 1rem;
                  width: 1rem;
                  height: 1rem;
                  border-radius: 50%;
                  background-color: $secondary;
               }

               .bookmark-name {

                  h1 {
                     font-weight: bold;
                     padding-bottom: 0.3rem;
                     font-size: 1rem;
                  }

                  p {
                     font-size: 0.8rem;
                     opacity: 0.6;
                  }
               }
            }

            .management {
               display: flex;
               flex-direction: row;

               .fa-cog {
                  padding: 0 1rem;
               }
            }
         }
      }

      .add-padding {
         padding-top: 4rem;
      }
   }